body
{
	background-color: #fffdf4;
	font-family: monaco;
	text-align: center;
	color: black;
}

%header
{
	position: relative;
}

%header, #TextColumns
{
	padding-right: 0;
	padding-left: 0;
}

%menu
{
	position: fixed;
	font-size: 2vw;
}

#HomeHeader
{
	@extend %header;
	color: white;
	.menulink 
	{
	  color: white;
	  text-decoration: underline;
	}
	.menulink:hover 
	{
	  color: white;
	  text-decoration: none;
	}
	.menu
	{
		@extend %menu;
		top: -5px;
		left: -10px;
	}
}

#PageHeader
{
	@extend %header;
	.menuitem
	{
	  color: black;
	  text-decoration: underline;
	}
	.menuitem:hover 
	{
	  color: black;
	  text-decoration: none;
	}
	.menu
	{
		@extend %menu;
		background-color: yellow;
		width: 100vw;
		height: 5vw;
		top: 0px;
		left: 0px;
	}

}

.title
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25vw;
	text-decoration: none;
	#Title{
		text-decoration: none;
	}
	#Title::after 
	{
		color: white;
		content:"Taco";
	}
	/* I was playing around trying to get the text to change and I guessed that 
	the reason for the two colons was that the first corresponded to a 
	pseudoclass and the second to the pseudoelement, so I figured I could use
	'hover' and 'after' together to change the text when the user hovers over
	the title*/
	#Title:hover:after 
	{
		/* This changes the text to the IPA pronunciation of "Taco" */
		content:"'t\32A ako";
	}
}

.pagebody
{
	margin-top: -webkit-calc(5vw + 8px);
	h2
	{
		font-size: 6vw
	}
	.col-6
	{
		text-align: left;
		text-indent: 5vw;
		font-size: 3vw;
	}
}

.quote
{
	font-style: italic; 
}

.speaker
{
	margin-bottom: 2vw;
}

.footer
{
	font-size: 2vw;
	text-align: left;
	text-indent: 10px;
	margin-bottom: 10px;
}